{% extends 'base.html' %}

{% block title %}
    Movies
{% endblock %}

{% block movies_current %}
md:text-yellow-400
{% endblock %}

{% block content %}

        <div class="relative h-screen text-white overflow-hidden bg-black">
            <div class="absolute inset-0">
                <img src="../static/img/BreakingBadBg.webp" alt="Background Image" class="opacity-70 object-cover object-center w-full h-full" />
                <div class="absolute inset-0 bg-gradient-to-b from-transparent from-70% to-black to-black-90%"></div>
            </div>
            
            <div class="relative z-10 flex flex-col justify-center h-full text-center md:text-left antialiased plus-jakarta-sans-200 px-8 md:px-24 lg:px-32">
                <div class="max-w-lg">
                    <p class="text-3xl font-bold leading-tight mb-4">All the latest entertainment at your fingertips.</p>
                <h1 class="text-lg mb-6">Explore our world, unravel yourself and have fun.</h1>
                    <a href="#" class="font-bold inline-block italic bg-yellow-400 text-gray-900 hover:bg-yellow-300 py-2 px-6 rounded-md text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">WATCH FREE MOVIES</a>
                </div>
            </div>
        </div>

        <div class="w-full h-10 bg-black"></div>

        <div class="grid grid-rows-2 grid-flow-col gap-4 bg-black">
            <div class="relative w-full max-w-sm border border-gray-200 rounded-lg">
                <a href="#">
                    <img class="p-8 rounded-t-lg" src="../static/img/LostDimension.webp" alt="product image" />
                </a>
                <div class="z-10 absolute inset-x-0 bottom-0" style="left: 0px; right: 0px; bottom: 0px; padding: 12px">
                    <div class="flex items-center mt-2.5 mb-5  justify-between">
                        <div class="flex items-center space-x-1 rtl:space-x-reverse">
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <span class="bg-blue-100 text-white text-xs font-semibold px-2.5 py-0.5 rounded ms-3">Horror</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <a href="#">
                            <span class="text-2xl font-bold text-white">Lost Dimension</span>
                        </a>
                        <a href="#" class="bg-yellow-400 hover:bg-yellow-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-5 text-center">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="relative w-full max-w-sm border border-gray-200 rounded-lg">
                <a href="#">
                    <img class="p-8 rounded-t-lg" src="../static/img/AcademicComeback.webp" alt="product image" />
                </a>
                <div class="z-10 absolute inset-x-0 bottom-0" style="left: 0px; right: 0px; bottom: 0px; padding: 12px">
                    <div class="flex items-center mt-2.5 mb-5  justify-between">
                        <div class="flex items-center space-x-1 rtl:space-x-reverse">
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                            <i style="margin-right: 4px; color: gold;" class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <span class="bg-blue-100 text-white text-xs font-semibold px-2.5 py-0.5 rounded ms-3">Horror</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <a href="#">
                            <span class="text-2xl font-bold text-white">Lost Dimension</span>
                        </a>
                        <a href="#" class="bg-yellow-400 hover:bg-yellow-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-5 text-center">Watch Now</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}